:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --btn-active-color: #00941e;
    --btn-hover-color: #007bff;
}

.dark-theme {
    --bg-color: #121212;
    --text-color: #e0e0e0;
}
.old-theme {
    --bg-color: #ffffff;
    --text-color: #1e2a38;
}

a.logo.btn{
    background: transparent; border-color: transparent !important;
}

a.logo.btn > * {
    fill: var(--text-color);
}

.old-theme nav {
    color: var(--bg-color);
    background-color: var(--text-color);
    a.logo.btn>* {
        fill: var(--bg-color) !important;
    }
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 400px;
    max-height: 800px;
    margin-top: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.darkcpiglobal {
    .btn.active,
    .btn:focus {
        background: var(--btn-active-color);
        background-color: var(--btn-active-color);
        color: var(--text-color);
        border-color: transparent transparent transparent;
    }
    .btn:hover {
        background: var(--btn-hover-color);
        background-color: var(--btn-hover-color);
        color: var(--text-color);
        border-color: transparent transparent transparent;
    }
}
